DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=<value from postgres_password>
DATABASE_NAME=lutra_db
DATABASE_SSL=false

# Strava
STRAVA_CLIENT_ID=<client id>
STRAVA_CLIENT_SECRET=<client secret>
STRAVA_ACCESS_TOKEN=<access token>
STRAVA_REFRESH_TOKEN=<refresh token>
STRAVA_REDIRECT_URI=http://localhost:3000/api/strava/callback
FRONTEND_URL=http://localhost:4200
