@use '../../styles/index' as s;

.page {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100dvh;
  overflow: hidden;
  touch-action: none;
}

.canvasZone {
  position: absolute;
  z-index: 1;
  inset: 0;
  overflow: hidden;
}

.panelZone {
  position: absolute;
  z-index: 1;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 40%;
  overflow: hidden;
}
